<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login et Inscription | Aigles</title>
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>OpportuFind</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../../assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">OpportuFind</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <button (click)="goToHome()" class="nav-item nav-link btn btn-link">Home</button>
            <button (click)="goToAbout()" class="nav-item nav-link btn btn-link">About</button>

           
           
            
            <button (click)="goToContact()" class="nav-item nav-link btn btn-link">Contact</button>
        </div>

        <button (click)="goToLogout()" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">
            Se déconnecter<i class="fa fa-sign-out-alt ms-3"></i>
        </button>
    </div>
</nav>
<!-- Navbar End -->

    <!-- PrimeNG Toast Component -->
    <p-toast></p-toast>

    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="assets/intern.jpg">
                <div class="text">
                    <!--<span class="text-1">OpportuFind<br> </span><br>
                  <span class="text-2">Trouver l'opportunité qui façonnera votre avenir</span>-->
                </div>
            </div>
            <div class="back">
                <div class="text">
                    <h2 class="b">OpportuFind</h2>
                    <br>
                  <span class="text-2">Trouver l'opportunité qui façonnera votre avenir</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <!-- Formulaire de connexion -->
                <div class="login-form">
                    <div class="title">Se connecter</div>
                    <form [formGroup]="loginForm" (ngSubmit)="Login()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" formControlName="email" placeholder="Veuillez saisir votre email" />
                                <div *ngIf="submitted && formControls['email'].errors">
                                    <small *ngIf="formControls['email'].errors?.['required']" class="error-text">L'email
                                        est requis</small>
                                    <small *ngIf="formControls['email'].errors?.['email']" class="error-text">L'email
                                        n'est pas valide</small>
                                </div>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" formControlName="password"
                                    placeholder="Veuillez saisir votre mot de passe" />
                                <div *ngIf="submitted && formControls['password'].errors">
                                    <small *ngIf="formControls['password'].errors?.['required']" class="error-text">Le
                                        mot de passe est requis</small>
                                    <small *ngIf="formControls['password'].errors?.['minlength']" class="error-text">Le
                                        mot de passe doit contenir au moins 4 caractères</small>
                                </div>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Se connecter" />
                            </div>
                            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                            <div class="text sign-up-text"> <br><br><br><label for="flip">Créer un compte</label></div>
                        </div>
                    </form>
                </div>

                <!-- Formulaire d'inscription -->
                <div class="signup-form">
                    <div class="title">S'inscrire</div>
                    <form [formGroup]="signupForm" (ngSubmit)="OnSignUpSubmit()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" formControlName="fullName" placeholder="Veuillez saisir votre nom"
                                    required />
                                <div *ngIf="submitted && signupForm.get('fullName')?.errors">
                                    <small *ngIf="signupForm.get('fullName')?.errors?.['required']" class="error-text">Le nom est requis</small>
                                </div>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" formControlName="email" placeholder="Veuillez saisir votre email"
                                    required />
                                <div *ngIf="submitted && signupForm.get('email')?.errors">
                                    <small *ngIf="signupForm.get('email')?.errors?.['required']" class="error-text">L'email est requis</small>
                                    <small *ngIf="signupForm.get('email')?.errors?.['email']" class="error-text">L'email n'est pas valide</small>
                                </div>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" formControlName="password"
                                    placeholder="Veuillez saisir votre mot de passe" required />
                                <div *ngIf="submitted && signupForm.get('password')?.errors">
                                    <small *ngIf="signupForm.get('password')?.errors?.['required']" class="error-text">Le mot de passe est requis</small>
                                    <small *ngIf="signupForm.get('password')?.errors?.['minlength']" class="error-text">Le mot de passe doit contenir au moins 4 caractères</small>
                                </div>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" formControlName="confirmPassword"
                                    placeholder="Confirmer votre mot de passe" required />
                                <div *ngIf="submitted && signupForm.get('confirmPassword')?.errors">
                                    <small *ngIf="signupForm.get('confirmPassword')?.errors?.['required']" class="error-text">La confirmation du mot de passe est requise</small>
                                    <small *ngIf="signupForm.errors?.['notMatching']" class="error-text">Les mots de passe ne correspondent pas</small>
                                </div>
                            </div>
                            Vous êtes
                            <div class="form-check-container">
                                <div class="form-check-container">
                                    <input class="form-check-input" type="radio" formControlName="userType"
                                        value="entrepreneur" (change)="onUserTypeChange($event)">
                                    <div class="form-check-label">Entrepreneur</div>
                                </div>
                                <div class="form-check-container">
                                    <input class="form-check-input" type="radio" formControlName="userType"
                                        value="etudiant" (change)="onUserTypeChange($event)">
                                    <div class="form-check-label">Étudiant</div>
                                </div>
                            </div>

                            <!-- Champ pour entrepreneur -->
                            <div *ngIf="userType === 'entrepreneur'">
                                <div class="input-box">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <input type="text" formControlName="localisation" placeholder="Localisation" />
                                    <div *ngIf="submitted && signupForm.get('localisation')?.errors">
                                        <small *ngIf="signupForm.get('localisation')?.errors?.['required']" class="error-text">La localisation est requise</small>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-industry"></i>
                                    <input type="text" formControlName="secteur" placeholder="Secteur" />
                                    <div *ngIf="submitted && signupForm.get('secteur')?.errors">
                                        <small *ngIf="signupForm.get('secteur')?.errors?.['required']" class="error-text">Le secteur est requis</small>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <i class=""></i>
                                    <textarea formControlName="aboutUs" placeholder="À propos de nous"></textarea>
                                    <div *ngIf="submitted && signupForm.get('aboutUs')?.errors">
                                        <small *ngIf="signupForm.get('aboutUs')?.errors?.['required']" class="error-text">Ce champ est requis</small>
                                    </div>
                                </div>
                            </div>

                            <!-- Champ pour étudiant -->
                            <div *ngIf="userType === 'etudiant'">
                                <div class="input-box">
                                    <i class="fas fa-school"></i>
                                    <input type="text" formControlName="university" placeholder="Université" />
                                    <div *ngIf="submitted && signupForm.get('university')?.errors">
                                        <small *ngIf="signupForm.get('university')?.errors?.['required']" class="error-text">L'université est requise</small>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-graduation-cap"></i>
                                    <input type="text" formControlName="parcours" placeholder="Parcours" />
                                    <div *ngIf="submitted && signupForm.get('parcours')?.errors">
                                        <small *ngIf="signupForm.get('parcours')?.errors?.['required']" class="error-text">Le parcours est requis</small>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-file-upload"></i>
                                    <input type="file" formControlName="cvUrl" placeholder="Télécharger votre CV" />
                                    <div *ngIf="submitted && signupForm.get('cvUrl')?.errors">
                                        <small *ngIf="signupForm.get('cvUrl')?.errors?.['required']" class="error-text">Le CV est requis</small>
                                    </div>
                                </div>
                            </div>

                            <div class="button input-box">
                                <input type="submit" value="Suivant" />
                            </div>
                            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

                            <div class="text sign-up-text">Vous avez déjà un compte ? <label for="flip">Se
                                    connecter</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/lib/wow/wow.min.js"></script>
    <script src="../assets/lib/easing/easing.min.js"></script>
    <script src="../assets/lib/waypoints/waypoints.min.js"></script>
    <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../assets/js/main.js"></script>

